<template name="todosItem">
  <div class="list-item {{checkedClass}} {{editingClass}}">
    <label class="checkbox">
      <input type="checkbox" checked="{{checked}}" name="checked">
      <span class="checkbox-custom"></span>
    </label>

    <input class="item-title" type="text" value="{{title}}" placeholder="Task Title">
    <input class="item-text" type="text" value="{{text}}" placeholder="Task name">
    <div class="image-wrapper">{{image}}<img src="{{image}}" alt="{{title}}"></div>
    <a class="js-delete-item delete-item" href="#"><span class="icon-trash"></span></a>
  </div>
</template>
